<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.netmefy.netmefy">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".services.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".tecnico.TecnicoActivity" />
        <activity android:name=".cliente.ClienteActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".login.UserIdActivity" />
        <activity android:name=".login.RateSupportActivity" />
        <activity android:name=".router.activities.TPLinkTestsActivity" />
        <activity android:name=".router.activities.RestartActivity" />
        <activity android:name=".router.activities.DevicesConnectedActivity" />
        <activity android:name=".router.activities.ChangeWifiActivity" />
        <activity android:name=".router.activities.TestBlockByMacActivity" />
        <activity android:name=".router.activities.TestBlockByUrlActivity" />
        <activity android:name=".router.activities.TestWifiSignalActivity" />
        <activity android:name=".router.activities.TestSpeedActivity" />

        <service
            android:name=".services.firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.firebase.FirebaseIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        -->
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <activity android:name=".cliente.ControlParentalActivity" />
        <activity android:name=".GestionesActivity" />
        <activity android:name=".SolicitudesActivity" />
        <activity android:name=".ReclamosActivity" />
        <activity android:name=".DeviceListActivity" />
        <activity android:name=".DeviceSetUpActivity" />
        <activity android:name=".ControlParentalWebPageSetUp" />
        <activity android:name=".NotificationListActivity" />
        <activity android:name=".NotificationDetailActivity" />
        <activity android:name=".ReclamosListActivity" />
        <activity android:name=".SolicitudesListActivity" />
        <activity android:name=".VerGestionActivity" />
        <activity android:name=".PruebasActivity" />
        <activity android:name=".OrdenesDeTrabajoActivity" />
        <activity android:name=".PasosOTActivity"></activity>
    </application>

</manifest>